extends layout

block content
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')
        link(rel='StyleSheet' href='css/nav.css' type='text/css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        meta(charset='utf-8')
    body
        header
            nav
                ul
                    img(src="images/hi_res_logo.jpg", alt="Logo")
                    li
                        a(href='/') Home
                    li |
                    li
                        a(href='/about') About Us
                    li |
                    li
                        a(href='/integration') Integration
        main(style="text-align: center; min-height: 500px")
            section#intro-text
                span The BGS Story
                h4 Published since 2021, one of the first few board game scheduler.
                p   
                    | Board Game Scheduler is the simplest way to schedule a meeting with other board game fanatics.
                    br
                    | Global enterprises worldwide are leveraging our scheduling platform and our powerful API, to discover how BGS can help them save time and enjoy board game meetings. 
                    br
                    | Board Game Scheduler is headquartered in California.
                a(href="/register") Sign Up for Free Today
            section#intro-image
                img(src='images/free.png')
                    
        footer
            img(src="images/hi_res_logo.jpg", alt="Logo")
            div
                h3 Join us on
                a(href="#" class="fa fa-facebook")
                a(href="#" class="fa fa-twitter")
                a(href="#" class="fa fa-instagram")
            ul
                li
                    a(href='/') Home
                li |
                li
                    a(href='#') About Us
                li |
                li
                    a(href='#') Integration
            | &copy; Copyright 2021 Board Game Scheduler by Nathaniel Dao
