extends layout

block starter
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')

    //Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')

    //Style CSS
    link(rel='stylesheet' href='/stylesheets/style.css')

    //Functions JS
    script(src='/javascripts/functions.js')


block content
    aside(id="leftside")
    aside(id="rightside")
    div(id="container")
        div(id = "component1")
            header
                span Food Blog

        main
            nav(id="navbar" class="active")
                a(href="#" class="home" onclick="makeActive('home')") Home
                a(href="#" class="recipes" onclick="makeActive('receipts')") Recipes
                a(href="#" class="lifestyles" onclick="makeActive('lifestyles')") Lifestyles
                a(href="#" class="videos" onclick="makeActive('videos')") Videos
                a(href="#" class="about" onclick="makeActive('about')") About
            
            aside(id="photos")
                img(src="/images/chili.jpg" alt="alt" width="180")
            div(id = "component2")
                h2 Comments
                
                
            section(id="blogposts")
                div(class="post")
                    img(id="img1" style="width:10%;height:10%;cursor:pointer;" src = "/images/profile.png" onclick="showDescription")
                    span(class="author") Brianna — 
                    span(class="date") February 18, 2021 @ 3:30 pm
                    span(class="reply") REPLY
                    p Was amazing! My Walmart didn’t have coriander in stock and didn’t have ground cumin. I used serrano instead of jalapeño. It was just like my favorite tortilla soup from BJs. I am sending this recipe to my family. I want everyone to try it!

                div(class="post")
                    img(id="img2" style="width:10%;height:10%;cursor:pointer;" src = "/images/profile.png" onclick="showDescription")
                    span(class="author") LINH — 
                    span(class="date") February 15, 2021 @ 9:46 am
                    span(class="reply") REPLY
                    p I just made this soup today and it’s so tasty! didn’t have corn at home but still turned out very good.  It’s a winner!  I made beef chili for my parents; but since my dad has gout he can’t eat beef; this white chicken chili is perfect for him.  Thank you Lisa!
                    
                div(class="post")
                    img(id="img3" style="width:10%;height:10%;cursor:pointer;" src = "/images/profile.png" onclick="showDescription") 
                    span(class="author") CATHERINE LEONARDO — 
                    span(class="date") February 13, 2021 @ 12:58 pm
                    span(class="reply") REPLY
                    p I LOVE this White Chicken Chili! You are right, it is satiating meal—delicious with toasted bread. Refreshingly different taste than any chicken chili I’ve made in the past. I made it exactly as written and added some chopped zucchini, carrots, and celery. Instead of shredding the chicken, I chopped it into small pieces. It freezes very well. Will be an all-time favorite, for sure.

                div(class="post")
                    img(id="img4" style="width:10%;height:10%;cursor:pointer;" src = "/images/profile.png" onclick="showDescription") 
                    span(class="author") KALI — 
                    span(class="date") February 13, 2021 @ 11:31 am
                    span(class="reply") REPLY
                    p This recipe is dynamite! My partner usually won’t eat beans but he finished the whole pot (darn was hoping to have some for leftovers haha). This is crowd-pleaser that I am going to add to my regular recipe rotation. Thanks so much, Lisa!
                
                //- div(id="displayDescription")
                //-     h1(id="title")
                //-     p(id="foodieLevel")
                //-     p(id="biography")
                //-     button(onclick = "closeModal") Close
        footer
            &copy; Copyright FOOD BLOG